
body {
  min-height: 2000px;
  padding-top: 70px;
}

.jumbotron {

 padding-top: 2px;
 padding-bottom: 55px
}

#hh{
  font-size: 30px;
  text-align: center;
  padding-bottom: 15px;

}

table {
  margin: 0 auto;
  width: 100%;
}


td {
  padding-right: 20px;
  padding-bottom: 20px;
}



#button {

  float: right;
  width: 150px;
  padding-top: 3px;
  height: 34px;

}


