
/* Imports */
@import url("reset.css");


/***** Global *****/
/* Body */
body {
		background: #F5F4EF url('../images/bg.png');
		color: #000305;
		font-size: 87.5%; /* Base font size: 14px */
		font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		line-height: 1.429;
		margin: 0;
		padding: 0;
		text-align: left;
	}

/* Headings */
h2 {
	font-size: 1.6em
}

h3 {
	font-size: 1.5em
}

h2, h3{
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

/* Lists */
ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

/* HTML5 tags */
header, section, article, figure {
	display: block;
}

/*body*/
.body {clear: both;
	margin: 0 auto;
	width: 800px;
}

	#title h1 {
		margin: 0 auto;
		padding: 1em 0 0 0;
        font-size: 3.571em;
        line-height: .6;
		color: #000305;
		display: block;
		font-weight: bold;
		margin: 0 0 .6em .2em;
		text-decoration: none;
		width: 427px;
        position:relative; top:0px; left: 35%;
	}

#content {
	background: white;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 760px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/*comments review section*/
.review {
	border-bottom: 1px solid #eee;
	padding: 1.5em 0;
}

li:last-child .review, #content > .review {
	border: 0;
	margin: 0;
}

#content > .review {
	padding: 1em 0;
}

.secondtitle {
	font-size: 1.429em;
	margin-bottom: 0;
	color: #6495ED;
}

#lists {
	list-style: none;
	margin: 0;
}

#lists .review {padding-left: 200px;
	position: relative;
}

#lists .review:hover {
		background: #6495ED;
		color: #fff;
}

#lists .review .published{
    position:absolute;
		left:5%;
		text-decoration: none;
}

#lists .review .author{
    position:absolute;
		left:5%;
		top:40px;
}

#lists .review .rating{
    color: 	#DAA520;
}

/*comments writing sector*/
#comments {
  background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 760px;


	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#comments label {
  display: block;
}

#comments label:after {
  content:" *";
}

#comments ol li:nth-child(2n+1) {
  background-color: #F5F4EF;
}

#writing {
  margin-top: 40px;
}

#writing input[type='text'],
#writing textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  background: #F5F4EF url('../images/bg.png');
  border: 1px solid rgba(0, 0, 255, 0.3);
  line-height: 1.4em;
}

#lists.has-comments li.no-comments {
  display: none;
}

label {font-size: 1.1em; height: 25px; line-height: 25px;}

	/* Input Types */
input[type='text'],
input[type='url'],
textarea {
	background: #fff;
	border: 1px solid #eee;
	color: #999;
	font-family: inherit;
	font-size: inherit;
	padding: 2px;
}

input[type='submit']{
	border: 0.2;
	border-radius: 5px;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	padding: .3em 2em;
	box-shadow: 1px 1px 1px 1px #000;*/
  border-color:blue;
}

input[type='submit'] :link,input[type='submit'] :visited{
  background: white;
  color: blue;
}

input[type='submit'] :hover{
  background:blue;
  color:white;
}

textarea {
		width: 99%;
		margin-bottom: 7px;
}
